body {
	background-color: white;
	clear: left;
}

h1 {
	color: blue;
}

div.container {
	width: 100px;
	border: 1px solid gray;
}

.image:hover img {
	-webkit-transform: scale(1.15); /* Safari and Chrome */
	-moz-transform: scale(1.15); /* Firefox */
	-ms-transform: scale(1.15); /* IE 9 */
	-o-transform: scale(1.15); /* Opera */
	transform: scale(1.15);
	border: 0;
}

.article1 {
	margin-center: 170px;
	border-left: 1px solid gray;
	padding: 1em;
}

.header {
	padding: 1em;
	color: white;
	background-color: #5499C7;
	clear: left;
	text-align: center;
}

.footer {
	padding: 1 em;
	margin-top: 600px;
	color: white;
	background-color: #5499C7;
	clear: left;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 80%;
}

th, td {
	text-align: left;
	padding: 2px;
	height: 25px;
}

.skil {
	font-size: 120%;
	color: blue;
}